**/#*#
**/.#*
**/*.aux
docs/_minted-overview
**/.*.inc.sh
**/*.lock
**/*.log
**/*.nav
**/*.out
*.sh.env
*/*.snm
result
src/modules/ext/contestia.dw
test/*
!test/logging-benchmark.sh
!test/logging-benchmark-target.sh
!test/terminal-logging-benchmark.sh
!test/terminal-logging-benchmark-target.sh
test/dry-wit
test/dry-wit-test
test/dw-plumbing-tests.inc.sh
test/.*.env
test/.*-tests.sh\.*
**/*.toc
**/*.vrb
